<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
 <test name="TestAndroid1">
		<parameter name="deviceQuery" value="@os='android'" />
		<parameter name="testname" value="AndroidTest1"/>
		<classes>
			<class name="com.experitest.auto.AndroidDemoTest"/>
		</classes>
	</test> 
<test name="TestIOS1">
  	<parameter name="deviceQuery" value="@os='ios'"/>
	<parameter name="testname" value="iPhoneTest1"/>
    <classes>
      <class name="com.experitest.auto.IOSDemoTest"/>
    </classes>
  </test>

</suite> <!-- Suite -->
